<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd"
       >

    <!-- 自动装配 -->

    <!-- p命名空间：自动装配，
        byName如果能找到对应的set方法，比如setAddress，且刚好有id为address的类。
        byType：比如address是Address类，刚好有类为Address的类被管理，则会被注入，注意同一个类被注入超过1次，则不能使用，因为不知道要装配哪个bean。
        在配置文件中使用autowire缺点：会装配所有属性，不能选择某一具体属性。且只能按byName、byType一种方式装配，不能兼而有之。
        -->
    <bean id="person1" class="com.xyb.beanAutowire2.Person" autowire="byName"/>
    <!--<bean id="person2" class="com.xyb.beanAutowire2.Person" autowire="byType"/>-->

    <bean id="address" class="com.xyb.beanAutowire2.Address">
        <property name="city" value="beijing"/>
        <property name="street" value="ciqu"/>
    </bean>

    <bean id="car" class="com.xyb.beanAutowire2.Car">
        <property name="price" value="50000"/>
        <property name="maxSpeed" value="300"/>
    </bean>



</beans>